body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

main {
    margin: 20px;
}

#form-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-weight: bold;
}

form input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
    flex: 1;
}

form button {
    padding: 5px 10px;
    background-color: #EFEFEF;
    color: #3E3C3C;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #EFEFEF;
}

#clients-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;

}

#clients-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
}

#clients-table th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

#clients-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#clients-table tr:hover {
    background-color: #f1f1f1;
}

button.primary-button {
    padding: 5px 10px;
    background-color: #EFEFEF;
    color: #3E3C3C;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    cursor: pointer;
}

button.primary-button:hover {
    background-color: #EFEFEF;
}


button.action-button {
    padding: 5px 10px;
    background-color: #EFEFEF;
    color: #3E3C3C;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    cursor: pointer;
}


button.action-button:hover {
    background-color: #EFEFEF;
}

#edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
}

#edit-modal.visible {
    display: block;
}

#edit-modal.hidden {
    display: none;
}